<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body style="background-color: aqua;">
    <center>
        <h2>Email: 2023kucp1126@iiitkota.ac.in</h2>
        <h2>Email: 2023kucp1147@iiitkota.ac.in</h2>
        <h2>Email: 2023kuec2060@iiitkota.ac.in</h2>
        <h2>Email: 2023kucp1145@iiitkota.ac.in</h2>
    </center>
</body>
</html>