<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(pngtree-hd-abstract-tech-background-picture-image_578452.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        h1 {
            font-family: fantasy;
            margin-bottom: 150px;
            letter-spacing: 10px;
        }

        ul li {
            margin-bottom: 20px;
            list-style-type: none;
            font-size: large;
        }

        ul li a {
            font-size: 25px;
            text-decoration: none;
            color: black;
            font-weight: bolder;
        }
        p {
            margin-top: 100px;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <h1>Team Members</h1>
    
    <ul>
        <li><a href="https://github.com/sumedh1036">Sumedh Jain</a></li>
        <li><a href="https://github.com/arhantsg07">Arhant Gourkhede</a></li>
        <li><a href="https://github.com/arthavjain103">Arthav Jain</a></li>
        <li><a href="https://github.com/suaj11">Suraj Ghanate</a></li>
    </ul>
    <p>Above names are also the links to Github profiles</p>
</body>
</html>